.card-item_container{
  width: calc(100% - 32px);
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 16px;
}

.card-item-closed{
    &_container{
    display: grid;
    grid-template-columns: 1fr 16px;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-areas:
    "text edit"
    "tags tags";
  }
  &_text{
    grid-area: text;
    color: #212529;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    letter-spacing: -0.02em;
  }
  &_edit{
    grid-area: edit;
  }
  &_tags{
    grid-area: tags;
    display: flex;
    flex-direction: row;
    gap: 8px 8px;
    flex-wrap: wrap;
  }
}

.card-item-edit{
  &_container{
    display: grid;
    grid-template-columns: 1fr 16px;
    grid-template-rows: auto auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-areas:
    "text close"
    "select select"
    "tags tags"
    "save save";
  }
  &-text{
    grid-area: text;
  }
  &-select{
    grid-area: select;
  }
  &-close{
    grid-area: close;
  }
  &-tags{
    grid-area: tags;
    display: flex;
    flex-direction: row;
    gap: 8px 8px;
    flex-wrap: wrap;
  }
  &-save{
    grid-area: save;
  }
}

.card-item-tag_container{
  border-radius: 5px;
  padding: 5px 10px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  
  letter-spacing: -0.02em;

  display: flex;
  flex-direction: row;

  &-editar{
    width: 65px;
    cursor: pointer;
  }
}